.ql-editor {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: normal;
  border-radius: 5px;
}
.ql-toolbar.ql-snow {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ql-container.ql-snow {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
